.co-commentposter textarea.active {
    height: 80px;
    border: solid 1px #7f7f7f;
}

.co-commentposter-markdowntip {
    font-size: 12px;
    color: darkgray;
}

.co-commentposter-postingtip {
    font-size: 12px;
    display: inline-block;
    margin-left: 8px;
}