body {
    -webkit-font-smoothing: antialiased;
    line-height: 160%;
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-size: 14px;
}

@media print {
    a[href]:after {
        content: none !important;
    }

    .co-questionnaire-table {
        font-size: 12px;
    }
}

html /deep/ a,
a {
    color: #007fb6;
    text-decoration: none;
}
html /deep/ a:hover,
a:hover {
    color: #00b7ff;
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

.co-mainhead {
    margin-top: 120px;
    overflow-y: hidden;
    margin-bottom: 40px;
}

.co-mainhead-content {
    font-family: 'Segoe UI', 'Segoe UI', Verdana, sans-serif;
    font-size: 28px;
    color: black;
    line-height: 32px;
    font-weight: normal;
    margin: 0;
}

.co-toolbar {
    background-color: #F8F8F8;
    margin-bottom: 20px;
}

.co-header {
    font-size: 18px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

.co-brand {
    color: #000000;
}

.co-sidebar .co-main-action {
    margin-bottom: 25px;
    margin-left: 40px;
}

.co-sidebar > div {
    margin-bottom: 40px;
}

h4 {
    color: #222;
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 0;
}

.co-mainer {
    margin-top: 120px;
}

.co-mainer-title {
    font-family: "Arial Bold", Arial;
    font-size: 38px;
    color: black;
    line-height: 48px;
    font-weight: bold;
    margin: 40px 0 25px;
}

.co-mainer-desc {
    color: #151515;
    font-family: 'Segoe UI', 'Segoe UI', Verdana, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    margin: 0;
    max-width: 340px;
    margin-bottom: 35px;
}

.co-mainer-background {
    position: absolute;
    left: 0;
    right: 0;
    height: 375px;
    background-color: #e3e3e3;
    z-index: -40;
}

.co-mainer-a {
    background-color: black;
    border-radius: 20px;
    color: white;
    font-family: 'Segoe UI', 'Segoe UI', Verdana, sans-serif;
    font-size: 14px;
    padding: 10px 24px;
    font-weight: bold;
    margin-bottom: 40px;
    display: inline-block;
}

.co-colored {
    color: #f63136;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 41px;
    margin: 40px 0 60px;
    line-height: 44px;
    letter-spacing: -1px;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    margin: 40px 0 60px;
    line-height: 40px;
    letter-spacing: -1px;
    font-weight: 300;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    margin: 20px 0 30px;
    line-height: 30px;
    letter-spacing: -1px;
    font-weight: 400;
    color: #354950;
}

.co-mainer p {
    font-size: 20px;
    color: white;
}

.co-rightbordered {
    border-right: solid 1px #00A8EC;
    min-height: 420px;
}

.co-nav-right-bordered.co-nav > li.active {
    background-color: #00A8EC;
    margin-left: -15px;
    padding-left: 16px;
}

.co-nav > li {
    margin-bottom: 10px;
}

.co-nav > li a {
    border-radius: 0;
    padding: 10px;
    background-color: #EDEDED;
    color: black;
    font-family: 'Segoe UI', 'Segoe UI', Verdana, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.co-nav > li.active:hover a,
.co-nav > li:hover a,
.co-nav > li.active a {
    background-color: #00A8EC;
    color: black;
}

.co-nav-tip {
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: black;
    padding-top: 10px;
    font-weight: normal;
    text-transform: none;
}

.pagination {
    margin: 0;
    padding: 0;
}

.pagination > li > a,
.pagination > li > span {
    margin: 2px;
    border-radius: 0 !important;
    padding: 4px 8px;
    text-decoration: none;
    font-size: 12px;
}

.pagination > li.active > a {
    background-color: #00A0D8;
}

.pagination > li > span,
.pagination > li > span:hover {
    border-color: transparent;
    background-color: transparent;
    cursor: default;
}

.co-mainbutton,
.co-mainbutton:hover,
.co-mainbutton:focus {
    background-color: #00A0D8;
    font-weight: bold;
    border-radius: 4px;
    padding: 3px 15px;
    font-family: 'ComfortaaBold', arial, sans-serif;
    color: #ffffff;
    transition: background-color 500ms linear;
    font-size: 16px;
    text-decoration: none;
}

.co-mainbutton:hover {
    background-color: #0082BC;
    transition: background-color 500ms linear;
}

footer {
    margin-top: 60px;
    background-color: #2A2D33;
    font-family: "Arial Bold",Gadget,sans-serif;
    color: #818692;
    font-size: 11px;
    padding: 35px 0;
}

footer /deep/ a {
    color: #97999b;
}

footer /deep/ a:hover {
    color: #49c3fb;
}

.co-informer {
    float: right;
}

.co-donatetext {
    font-size: 18px;
    margin-top: 60px;
}

.co-inline {
    display: inline-block;
}

.co-questions {
    padding: 0;
    list-style: none;
    margin: 0 0 30px;
}

.co-questions > li {
    margin: 0;
    padding: 12px 0 15px 0;
    border-bottom: 1px solid #e0e0e0;
}

ul.co-popularTags {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.co-popularTags > li {
    padding: 0;
    margin-bottom: 10px;
}

.co-question,
.co-my-question-comment {
    margin: 70px 140px;
}

.co-question-title {
    font-size: 28px;
    min-height: 100px;
    line-height: 34px;
    margin-bottom: 20px;
}

.co-question-body {
    font-size: 14px;
    line-height: 16px;
}

.co-my-question-comment-label {
    width: 40%;
    font-size: 0.75em;
}

.co-my-question-comment-box {
    width: 80%;
    border-left: solid 1px #d2d2d2;
    background-color: #f5f5f5;
}

.co-my-question-comment-box textarea {
    background-color: transparent;
    border: none;
}

.co-question-content {
    width: 80%;
}

ul.co-question-position {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
}

ul.co-question-position > li {
    display: inline-block;
    margin-left: 20px;
}

.co-arrow {
    font-family: Tahoma, sans-serif;
}

ul.co-question-staff {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

ul.co-question-staff > li {
    display: inline-block;
    margin-right: 0;
    padding: 0;
}

.co-small {
    font-size: 12px;
}

.co-flex {
    display: flex;
}

html /deep/ .co-ok-button {
    background-color: #00A0D8;
    color: white;
}

.co-search {
    border-bottom: solid 2px #00A8EC;
    position: relative;
}

.co-search button {
    border: none !important;
    background: transparent !important;
    outline: none !important;
    margin-right: 6px;
    font-family: 'Segoe UI', 'Segoe UI', Verdana, sans-serif;
    font-size: 11px;
    opacity: 0.3;
    margin-top: 8px;
}

.co-search button:hover {
    opacity: 1;
}

.co-search input[type=text] {
    font-size: 22px;
    border: none;
    margin: 0 6px;
    outline: none;
    padding: 2px 4px;
    width: 100%;
    color: black;
}

.co-search:after {
    content: '';
    position: absolute;
    display: block;
    height: 6px;
    width: 100%;
    bottom: 0;
    z-index: -1;
    border-left: solid 2px #00A8EC;
    border-right: solid 2px #00A8EC;
}


.co-search-help-tip {
    margin-bottom: 45px;
}

.co-search-help-tip label,
.co-search-help-tip a {
    font-size: 0.75em;
    color: #a7a9ab;
    font-weight: normal;
    display: inline-block;
    position: relative;
}

.co-search-help-tip label > input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    position: relative;
    top: 2px;
    *overflow: hidden;
}

a.co-action {
    border-bottom: dotted 1px #007fb6;
}

a.co-action:hover {
    border-bottom: dotted 1px #00b7ff;
}

.co-questionnaire-title {
    font-size: 12px;
    margin-bottom: 20px;
    border-left: solid 2px rgba(0, 70, 95, 0.29);
    padding-left: 15px;
    margin-top: 10px;
}

.co-questionnaire-title p {
    margin-bottom: 3px;
}

.co-questionnaire-table {
    width: 100%;
    border-collapse: collapse;
}

.co-questionnaire-table td {
    border: solid 1px #cdcdcd;
    padding: 5px 10px;
    line-height: 1.2em;
}

.co-question-aside {
    margin-top: 70px;
}

.co-question-aside > div {
    margin-bottom: 35px;
}

.co-question-aside-tips li {
    line-height: 14px;
    font-size: 13px;
    margin-bottom: 8px;
}

.co-asideimage-container {
    margin-bottom: 20px;
    display: inline-block;
}

.co-affix.affix-top {
    position: static;
    margin-top: 30px;
    width: 228px;
}

.co-affix.affix {
    position: fixed;
    top: 40px;
    width: 228px;
}

.co-question-tip {
    font-size: 0.86em;
}

.co-question-tip-title {
    color: #6c6c6c;
}

.co-mainvk-liker {
    display: inline-block;
    padding-top: 15px;
}

.co-main-action {
    display: table;
    width: 160px;
    height: 160px;
    border: solid 1px #F5C376;
    border-radius: 50%;
}

.co-main-action-middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.co-main-action-inner {
    margin-left: auto;
    margin-right: auto;
}

.co-main-action .co-nav-tip {
    margin: 0;
    padding: 10px 10px 0;
}

.co-dialog button {
    min-width: 61px;
    line-height: 20px;
}

button, .btn {
    font-size: 12px;
    text-decoration: none;
}

button:hover, .btn:hover {
    text-decoration: none;
}

.co-dialog-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    z-index: 1000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.co-dialog {
    position: fixed;
    top: 100px;
    left: 50%;
    z-index: 2000;
    background: #fff;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 30px #5D5858;
}

.co-dialog-buttons {
    padding: 15px 0 0 0;
    border-top: 1px #ccc solid;
    text-align: center;
    margin: 5px 0 0 0;
}

.co-dialog-body {
    margin: 0;
    font-size: 13px;
    width: 470px;
}

.co-dialog > .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 17px;
    height: 15px;
    outline: none;
    padding: 0;
    min-width: 20px;
}

.co-dialog > .close:hover,
.co-dialog > .close:active {
    background: none;
}

.subtitle {
    margin-top: -60px;
    margin-bottom: 60px;
    font-size: 12px;
    color: rgb(105, 141, 156);
}

.co-table {
    font-size: 12px;
    line-height: 14px;
}

.co-table td,
.co-table th {
    padding: 3px 4px;
    border: solid 1px #A5A5A5;
}

.co-table th {
    padding: 6px 4px;
}

.co-table .headers {
    background-color: #FFE9C8;
}

.co-search-advice {
    margin-bottom: 25px;
}

.co-tag {
    text-decoration: none;
    background-color: #cad6df;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 2px 10px;
    color: #777;
}

.co-tag:hover {
    color: rgb(105, 141, 156);
    background-color: rgb(200, 230, 255);
}

.co-search-comment {
    margin-left: 10px;
    font-size: 13px;
}

.co-search-comment > span {
    display: inline-block;
    top: 2px !important;
}

.co-tag-counter {
    font-size: 12px;
    color: #777;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.co-tag-description {
    font-size: 11px;
    line-height: 14px;
    display: inline-block;
}

.page-tags .co-tag-description {
    margin: 8px 0;
}

.m-separated-row {
    border-bottom: solid 1px #ebebeb;
    margin-bottom: 28px;
    padding-bottom: 10px;
}

.co-comments-notfound {
    padding: 15px 0;
    padding-bottom: 30px;
}

.co-comments-latest {
    margin-top: 15px !important;
    margin-left: 40px !important;
}

.co-comments-question-comments {

}

.co-comments-question-title,
.co-questionsFeeds-question-title {
    line-height: 16px;
}

.co-comments {
    list-style: none;
    margin: 0;
    padding: 0;
}

.co-comments > li {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.co-comments-meta {
    font-size: 11px;
    color: #696969;
}

.co-comments-meta-edited {
    font-style: italic;
    color: #FF5858;
    cursor: default;
}

.co-commentbox {
    width: 100%;
    height: 30px;
    border: solid 1px silver;
    font-size: 12px;
    padding: 2px 8px;
}

.co-comments-body {
    font-size: 12px;
    line-height: 16px;
}

.co-comments-body h1,
.co-comments-body h2,
.co-comments-body h3,
.co-comments-body h4,
.co-comments-body h5,
.co-comments-body h6 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 12px;
}

.co-comments-body h1 {
    font-size: 18px;
}

.co-comments-body h2 {
    font-size: 16px;
}

.co-comments-body h3 {
    font-size: 14px;
}

.co-landing {
    background-color: #E6E6E6;
    line-height: 16px;
    font-size: 12px;
    margin-bottom: 45px;
}

.co-landing-another-desc {
    padding: 15px;
}

.co-landing-another-questions {
    background-color: #F3F3F3;
    padding: 15px;
}

.co-landing h4 {
    font-size: 16px;
}

.co-component-question {
    display: flex;
}

ul.co-component-question-tags {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.co-component-question-tags > li {
     display: inline-block;
     margin-right: 0;
     padding: 0;
}

.co-component-question-text {
     line-height: 18px;
     padding-bottom: 5px;
     display: inline-block;
}

.co-component-question-level {
      display: inline-block;
      height: 38px;
      margin: 0 3px 0 0;
      color: #777;
}

.co-component-question-level a {
      color: #0779AB;
      text-decoration: none;
}

.co-component-question-level a:hover {
      color: #59a1e5;
      text-decoration: none;
}

.co-component-question-level-bound {
      width: 10%;
}

.co-component-question-content {
      width: 90%;
}

.co-component-question-level-title {
      font-size: 22px;
}

.co-component-question-level-desc {
      font-size: 12px;
}

.co-tag-counter {
      font-size: 12px;
      color: #777;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

.co-login {
    padding: 40px 0;
}

.co-login-bordered {
    margin-top: 100px;
    border: solid 1px #D2D2D2;
    background-color: #FDFDFD;
    -webkit-box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.36);
    -moz-box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.36);
    box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.36);
}

.co-login h1 {
    font-size: 24px;
    margin-top: 30px;
}

.co-login-logo {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.co-login-logo > a {
    display: inline-block;
    margin-left: -6px;
}

.co-login-delimiter {
    color: gray;
    font-style: italic;
    font-size: 12px;
}

.co-titler-body {
    overflow-x: hidden;
}

.co-titler {
    overflow-x: hidden;
}

.co-titler > img {
    position: absolute;
    top: 60px;
    transform-origin: 0 0;
    transform: translate(-60px, 0);
    z-index: -10;
}

.co-menu-top {
    background-color: #ededed;
}

.co-menu-top-items {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.co-menu-top-items > li {
    display: inline-block;
    margin: 0;
}

.co-menu-top-items > li a {
    display: inline-block;
    padding: 24px 28px;
    color: #151515;
    font-family: 'Segoe UI', 'Segoe UI', Verdana, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.co-menu-top-items > li.active,
.co-menu-top-items > li:hover {
    background-color: #00A8EC;
}

.co-menu-top-items > li:hover > a {
    color: white;
}